* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1f2933, #111827);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTENEDOR PRINCIPAL */
.login-box {
    width: 900px;
    height: 480px;
    display: flex;
    background: #ffffff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

/* FORMULARIO */
.login-form {
    width: 50%;
    padding: 60px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form h2 {
    color: #1f2933;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 30px;
}

.login-form input {
    margin-bottom: 15px;
    padding: 14px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 15px;
}


.login-form input:focus {
    outline: none;
    border-color: #2563eb;
}

.login-form button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form button:hover {
    background: #1e40af;
}

.register-text {
    margin-top: 20px;
    font-size: 14px;
}

.register-text a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}

/* LOGO */
.login-logo {
    width: 50%;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-logo img {
    width: 120px;
    margin-bottom: 20px;
}

.login-logo h3 {
    font-size: 28px;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.login-logo span {
    font-size: 14px;
    color: #c7d2fe;
}
